@import "../../global.scss";
.portfolioList{
    padding: 7px;
    margin-right: 50px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    @include mobile{
        margin: 10px 8px;
    }

    &.active{
        background-color: $mainColor;
        color: white;
        
    }

}
 